#content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    width: 50%;
    height: 100%;
}

#sidebar {
    height: 100%;
}

#profile-settings {
    display: flex;
    justify-content: space-between;
}

#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}