#content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#main-container {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
}

#sidebar {
    height: 100%;
    width: 100%;
    grid-column: 1;
}

#profile-settings {
    display: flex;
    justify-content: space-between;
}

#projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projects {
    overflow-y: auto;
    overflow-x: hidden;
}

#board {
    height: 100%;
    width: 100%;
    margin: 0;
    grid-column: 2 / 5;
}

#task {
    display: flex;
    justify-content: space-between;
}